/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  background-color: #0b0633;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.body-locked {
  height: 100vh;
  overflow-y: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --site-gutter-large: 40px;
  --site-gutter: 24px;
  --color-glanect-white: #ffffff;
  --color-glanect-dark-blue: #0b0633;
  --color-glanect-orange: #ff4949;
  --color-glanect-mid-blue: #312d53;
  --header-logo-height: 31px;
  --font-title: 'Merriweather', serif;
  --content-padding-bottom: 2.5rem;
  --nav-toggle-button-width: 30px;
  --easing-quad-in-out: cubic-bezier(0.5, 1, 0.89, 1);
  --easing-quad-in: cubic-bezier(0.11, 0, 0.5, 0);
  --easing-quad-out: cubic-bezier(0.5, 1, 0.89, 1);
}

html,
body {
  background-color: var(--color-glanect-dark-blue);
}

html {
  font-size: clamp(87.5%, 1.75vw, 16px);
}

.screen-reader-text {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.site-container {
  overflow: hidden;
}

.wide-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding-left: var(--site-gutter);
  padding-right: var(--site-gutter);
}

.wide-content-wrapper--align-right {
  justify-content: flex-end;
}

@media (min-width: 680px) {
  .wide-content-wrapper {
    padding-left: var(--site-gutter-large);
    padding-right: var(--site-gutter-large);
  }
}

.primary-button {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  font-family: var(--font-title);
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  color: var(--color-glanect-white);
  background-color: transparent;
}

.primary-button:hover {
  color: var(--color-glanect-dark-blue);
}

.primary-button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: var(--color-glanect-orange);
  transform-origin: 50% 0;
  transition: transform 0.1s var(--easing-quad-in),
    background-color 0.1s var(--easing-quad-in);
}

.primary-button:hover:after {
  background-color: var(--color-glanect-white);
  transition-timing-function: var(--easing-quad-out);
}

.primary-button-label {
  position: relative;
  z-index: 2;
}

/* Header */

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: var(--site-gutter);
  justify-content: center;
}

.site-header__content-wrapper {
  align-items: flex-start;
}

.site-logo {
  flex: 1;
}

.site-logo__image {
  width: 11.063rem;
}

.site-logo__text {
  fill: var(--color-glanect-white);
}

.site-logo__icon {
  fill: var(--color-glanect-white);
}

.site-nav {
  --toggle-duration: 0.25s;
  --toggle-duration-halved: 0.125s;
  --nav-option-start: 0.1s;
  --nav-option-duration: 0.1s;
  --nav-option-stagger: 0.05s;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: calc(
    var(--site-gutter) + var(--site-gutter) + var(--header-logo-height)
  );
  color: var(--color-glanect-white);
  font-family: var(--font-title);
  font-size: 2.1875rem;
  line-height: 3.75rem;
}

.site-nav--drawer-closed {
  width: calc(var(--nav-toggle-button-width) + var(--site-gutter));
  overflow: hidden;
}

.site-nav--drawer-open {
  overflow: visible;
}

.site-nav__inner-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: clamp(300px, 50vw, 500px);
  padding-top: var(--site-gutter);
  padding-left: var(--site-gutter);
  padding-right: var(--site-gutter);
}

.site-nav__dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--toggle-duration) var(--easing-quad-in-out);
}
.site-nav--drawer-open .site-nav__dimmer {
  opacity: 1;
  pointer-events: auto;
}

.site-nav__background-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform var(--toggle-duration) var(--easing-quad-in);
  transition-delay: 0s;
  transform: translateY(-110%);
}
.site-nav--drawer-open .site-nav__background-wrapper {
  transform: none;
  transition: transform var(--toggle-duration) var(--easing-quad-out);
}

/*
.nav-toggle-button-background {
  position: absolute;
  top: -50px;
  right: -80px;
  width: 200px;
  height: 140px;
  transform: rotate(45deg);
  background: var(--color-glanect-mid-blue);
}
*/

.nav-toggle-button {
  position: relative;
  width: var(--nav-toggle-button-width);
  height: 23px;
  margin-top: 5px;
  padding: 0;
  border: 0;
  cursor: pointer;
  outline: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}

.nav-toggle-button__line-wrapper {
  display: block;
  transition: transform var(--toggle-duration) var(--easing-quad-in-out);
}
.site-nav--drawer-open .nav-toggle-button__line-wrapper {
  transform: rotate(45deg);
}

.nav-toggle-button__bar {
  display: block;
  width: 100%;
  height: 5px;
  transition: transform var(--toggle-duration-halved) var(--easing-quad-in-out);
  transition-delay: var(--toggle-duration-halved);
  background-color: var(--color-glanect-white);
}
.site-nav--drawer-open .nav-toggle-button__bar {
  transition-delay: 0s;
}

.nav-toggle-button__top-bar {
  clip-path: polygon(0 2px, 100% 0, 100% 100%, 0 100%);
}
.site-nav--drawer-open .nav-toggle-button__top-bar {
  transform: translateY(9px);
}

.nav-toggle-button__middle-bar {
  margin: 4px 0;
}

.nav-toggle-button__middle-bar-inner {
  transition-delay: 0s;
}
.site-nav--drawer-open .nav-toggle-button__middle-bar-inner {
  transform: rotate(-90deg);
  transition-duration: var(--toggle-duration);
}

.nav-toggle-button__bottom-bar {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2px));
}
.site-nav--drawer-open .nav-toggle-button__bottom-bar {
  transform: translateY(-9px);
}

.site-nav__option-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  padding-top: 30px;
  visibility: hidden;
}
.site-nav--drawer-open .site-nav__option-list {
  visibility: visible;
}

.site-nav__option-link {
  position: relative;
  padding: 0;
  color: var(--color-glanect-white);
  text-decoration: none;
}

.site-nav__option-item {
  opacity: 0;
  transition: opacity var(--nav-option-duration) linear;
}
.site-nav--drawer-open .site-nav__option-item {
  opacity: 1;
  transition-delay: var(--nav-option-start);
}
.site-nav--drawer-open .site-nav__option-item:nth-child(2) {
  transition-delay: calc(var(--nav-option-start) + var(--nav-option-stagger));
}
.site-nav--drawer-open .site-nav__option-item:nth-child(3) {
  transition-delay: calc(
    var(--nav-option-start) + var(--nav-option-stagger) * 2
  );
}

.site-nav--drawer-open .site-nav__option-link {
  opacity: 1;
}

@media (min-width: 680px) {
  .site-header {
    padding-top: var(--site-gutter-large);
  }

  .site-header__content-wrapper {
    align-items: center;
  }

  .site-nav {
    position: static;
    display: block;
    width: auto;
    height: auto;
    font-size: 0.938rem;
    line-height: inherit;
    overflow: visible;
  }

  .site-nav__inner-wrapper {
    display: block;
    width: auto;
    height: auto;
    padding: 0;
  }

  .site-nav__dimmer {
    display: none;
  }

  .nav-toggle-button {
    display: none;
  }

  .nav-toggle-button__line-wrapper {
    transition: none;
  }

  .site-nav__background-wrapper {
    display: none;
    transform: none;
    transition: none;
  }

  .site-nav__option-list {
    flex-direction: row;
    padding-top: 0;
    visibility: visible;
  }

  .site-nav__option-item {
    opacity: 1;
    transition: none;
  }

  .site-nav__option-link {
    position: relative;
    top: 1.5px;
    display: inline-block;
    padding: 5px 15px 8px 15px;
    margin: 0 5px;
    font-size: inherit;
    transition: none;
    outline: 0;
    transition: color 0.1s linear;
  }
  .site-nav__option-item:last-child .site-nav__option-link {
    margin-right: 0;
  }

  .site-nav__option-link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3px));
    transform-origin: 50% 0;
    transform: scaleY(0.9);
    opacity: 0;
    background-color: var(--color-glanect-white);
    transition: opacity 0.1s var(--easing-quad-in),
      transform 0.1s var(--easing-quad-in);
  }

  .site-nav__option-link:hover {
    color: var(--color-glanect-dark-blue);
  }

  .site-nav__option-link:hover:before {
    opacity: 1;
    transform: none;
    transition-timing-function: var(--easing-quad-out);
  }

  .site-nav__option-item-label {
    position: relative;
    z-index: 2;
  }

  /*
  .site-nav__option-link:after {
    content: '';
    position: absolute;
    top: calc(100% + 1px);
    left: 1.25rem;
    right: 1.25rem;
    display: block;
    height: 4px;
    background-color: var(--color-glanect-white);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3px));
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform 0.15s var(--easing-quad-in);
  }
  .site-nav__option-item:last-child .site-nav__option-link:after {
    right: 0;
  }

  .site-nav__option-link:hover:after,
  .site-nav__option-link:focus:after {
    transform: none;
    transition-timing-function: var(--easing-quad-out);
  }
  */
}

/* Main content */

.page-container {
  width: 100%;
  max-width: calc(775px + var(--site-gutter) * 2);
  margin: 0 auto;
  padding: 0 var(--site-gutter);
  line-height: 1.875rem;
}

.site-section {
  position: relative;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.site-section--reduced-padding {
  padding-top: 30px;
  padding-bottom: var(--site-gutter-large);
}

.site-section__background {
  --angle-offset: max(60px, 10vw);
  position: absolute;
  bottom: -5vw; /*-7.5%;*/
  left: 50%;
  width: max(100vw, 600px);
  height: calc(100% + 5vw); /*107.5%;*/
  transform: translateX(-50%);
}

.site-section__background--top-up-bottom-down {
  top: -5vw;
  height: calc(100% + 10vw);
  clip-path: polygon(
    0 var(--angle-offset),
    100% 0,
    100% 100%,
    0 calc(100% - var(--angle-offset))
  );
}

.site-section__background--top-down-bottom-up {
  top: -5vw;
  height: calc(100% + 10vw);
  clip-path: polygon(
    0 0,
    100% var(--angle-offset),
    100% calc(100% - var(--angle-offset)),
    0 100%
  );
}

.site-section__background--bottom-down {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - var(--angle-offset))
  );
}

.site-section__background--top-up {
  top: -5vw;
  clip-path: polygon(0 var(--angle-offset), 100% 0, 100% 100%, 0 100%);
}

.site-section__background--orange {
  background-color: var(--color-glanect-orange);
}

.site-section__background-pattern-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  will-change: transform;
}
.site-section__background-pattern {
  position: absolute;
  left: 50%;
  top: 0;
  width: 120%;
  height: 100%;
  opacity: 0.15;
  transform: rotate(5.7deg) translate(-50%, 0);
  background-image: url('../images/design/background-pattern.png');
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: 125px 125px;
}

.site-section__background--mid-blue {
  background-color: var(--color-glanect-mid-blue);
}

.site-section__background--white {
  background-color: var(--color-glanect-white);
}

.site-section__content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: var(--site-gutter);
}

.site-section__title {
  grid-column: 1 / 11;
  padding-bottom: var(--content-padding-bottom);
  color: var(--color-glanect-white);
  font-family: var(--font-title);
  font-size: 2.1875rem;
  line-height: 2.8125rem;
  text-align: center;
}

.site-section__title--dark {
  color: #252525;
}

.site-section__intro {
  grid-column: 1 / 11;
  padding-bottom: 3.75rem;
}

.site-section__long-form-copy p {
  grid-column: 1 / 11;
  padding-bottom: var(--content-padding-bottom);
}

.site-section p strong {
  color: var(--color-glanect-orange);
}

.site-section__captioned-image {
  grid-column: 1 / 11;
  padding-bottom: var(--content-padding-bottom);
}

.site-section__image {
  position: relative;
  z-index: 2;
}

.site-section__caption {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.site-section__caption-background {
  position: absolute;
  top: -10px;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: rotate(-0.5deg);
  background-color: var(--color-glanect-dark-blue);
}

.site-section__caption-copy {
  position: relative;
  display: block;
  padding: 8px 10px 12px 10px;
}

@media (min-width: 480px) {
  .site-section__title {
    grid-column: 2 / 10;
  }

  .site-section__intro {
    grid-column: 2 / 10;
  }

  .site-section__long-form-copy p {
    grid-column: 2 / 10;
  }
}

@media (min-width: 680px) {
  .page-container {
    padding-left: var(--site-gutter-large);
    padding-right: var(--site-gutter-large);
  }
}

/* Site intro */

.section-intro {
  position: relative;
  display: flex;
  width: 100%;
  height: clamp(300px, 50vw, 500px);
  padding-top: calc(
    var(--site-gutter-large) + var(--site-gutter) + var(--header-logo-height)
  );
  padding-bottom: calc(var(--site-gutter) * 2 + var(--header-logo-height));
  box-sizing: border-box;
}

.section-intro__content-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-intro__title {
  font-family: var(--font-title);
  font-size: clamp(20px, 4vw, 46px);
  line-height: clamp(32px, 6vw, 66px);
  text-align: center;
}

/* Tasklane */
.site-section__background--tasklane-bg {
  top: min(-50px, -5vw);
  height: calc(100% + max(100px, 10vw));
  background-image: url('../images/tasklane-bg.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.tasklane__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/11;
  padding: 20px 0;
}

@media (min-width: 680px) {
  .tasklane__wrapper {
    flex-direction: row;
    grid-column: 1/11;
    padding: 40px 10px;
  }
}

.tasklane__logo-wrapper {
  width: 150px;
}

@media (min-width: 680px) {
  .tasklane__logo-wrapper {
    width: 28%;
  }
}

.tasklane__info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 0;
}

@media (min-width: 680px) {
  .tasklane__info {
    min-height: 100%;
    padding-left: 60px;
  }
}

.tasklane__info .site-section__title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
}

@media (min-width: 680px) {
  .tasklane__info .site-section__title {
    padding-top: 0;
    text-align: left;
  }
}

.tasklane__copy--dark {
  flex: 1;
}

.tasklane__copy--dark p {
  max-width: 400px;
  color: #252525;
  padding-bottom: 20px;
  text-align: center;
}

.tasklane__copy--dark p strong {
  color: #252525;
}

@media (min-width: 680px) {
  .tasklane__copy--dark p {
    max-width: 100%;
    padding-bottom: 10px;
    text-align: left;
  }
}

.tasklane .primary-button-wrapper {
  text-align: center;
}

@media (min-width: 680px) {
  .tasklane .primary-button-wrapper {
    text-align: left;
  }
}

/* Our services */

.section-services {
  padding-bottom: calc(var(--site-gutter) * 2 + var(--header-logo-height));
}

.service-item {
  display: grid;
  grid-column: 1 / 11;
  grid-template-columns: repeat(8, 1fr);
  column-gap: var(--site-gutter);
  padding-bottom: var(--content-padding-bottom);
}

.service-item__copy-wrapper {
  grid-column: 3 / 9;
}

.service-item__title {
  padding-bottom: 3px;
  color: var(--color-glanect-orange);
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.service-item__title a {
  color: var(--color-glanect-orange);
  text-decoration: none;
  transition: color 0.15s linear;
}
.service-item__title a:hover {
  color: var(--color-glanect-white);
}

.service-item__description a {
  color: var(--color-glanect-orange);
  transition: color 0.15s linear;
}
.service-item__description a:hover {
  color: var(--color-glanect-white);
}

.service-item__image-wrapper {
  display: flex;
  grid-column: 1 / 3;
  justify-content: center;
  align-items: center;
}

@media (min-width: 480px) {
  .service-item {
    grid-column: 2 / 10;
  }
}

/* Contact */

.section-contact__content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  grid-row: 2;
  grid-column: 1 / 11;
  gap: var(--site-gutter);
  padding-bottom: var(--content-padding-bottom);
}

.contact-details {
  display: grid;
  grid-template-columns: 1.25rem auto;
  gap: 0.3125rem;
  row-gap: 1px;
  padding-top: var(--site-gutter);
}

.contact-details__method {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem 0 3px;
}

.contact-details__method-image {
  width: 1.25rem;
  height: 1.25rem;
}

.contact-details__value {
  padding: 0;
}

.contact-details__value-link {
  position: relative;
  display: inline-block;
  padding: 0.1875rem 0.625rem;
  text-decoration: none;
  color: var(--color-glanect-white);
  outline: 0;
  transition: color 0.1s var(--easing-quad-in);
}
.contact-details__value-link:hover,
.contact-details__value-link:focus {
  color: var(--color-glanect-dark-blue);
  transition-timing-function: var(--easing-quad-out);
}

.contact-details__value-link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform-origin: 50% 0;
  transform: scaleY(0.9);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2px));
  background-color: var(--color-glanect-white);
  transition: transform 0.1s var(--easing-quad-in),
    opacity 0.1s var(--easing-quad-in);
}

.contact-details__value-link:hover:before,
.contact-details__value-link:focus:before {
  opacity: 1;
  transform: none;
  transition-timing-function: var(--easing-quad-out);
}

.contact-details__value-text {
  position: relative;
}
.contact-details__value-unlinked {
  display: inline-block;
  padding: 0.1875rem 0.625rem;
}

.contact-details__qr-code {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-top: 8px;
}

@media (min-width: 480px) {
  .section-contact__content-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column: 2 / 10;
  }
}
@media (min-width: 701px) {
  .section-contact__content-wrapper {
    grid-column: 1 / 11;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-top: 0.5rem;
  overflow: hidden;
}

.contact-form__fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.contact-form__field-wrapper {
  position: relative;
  padding-bottom: 10px;
  font-size: 1rem;
  line-height: 1.5625rem;
}

.contact-form__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  padding: 16px;
  transform: translate(-14%, -14px) scale(0.7);
  opacity: 0.5;
  transition: transform 0.1s ease-out;
}

.contact-form__detail {
  width: 100%;
  padding: 22px 16px 10px 16px;
  outline: 0;
  color: var(--color-glanect-white);
  border: 0;
  background-color: var(--color-glanect-mid-blue);
}
.contact-form__message:-webkit-autofill + .contact-form__label,
.contact-form__detail:-webkit-autofill + .contact-form__label {
  color: black; /* Co-operate with the forced autofill colors in Chromium */
  opacity: 1;
}

.form-submitted .contact-form__detail:invalid {
  background-color: var(--color-glanect-orange);
}

.contact-form__message:placeholder-shown:not(:focus),
.contact-form__detail:placeholder-shown:not(:focus) {
  padding: 16px;
}

.contact-form__message:placeholder-shown:not(:focus) + .contact-form__label,
.contact-form__detail:placeholder-shown:not(:focus) + .contact-form__label {
  transform: none;
  opacity: 1;
}

.contact-form__message {
  width: 100%;
  height: 184px;
  padding: 22px 16px 10px 16px;
  outline: 0;
  resize: none;
  color: var(--color-glanect-white);
  border: 0;
  background-color: var(--color-glanect-mid-blue);
  vertical-align: top;
}

.form-submitted .contact-form__message:invalid {
  background-color: var(--color-glanect-orange);
}

.contact-form__recaptcha-wrapper {
  position: relative;
  left: 2px;
  padding: 0 0 10px 0;
}

.contact-form__button {
  width: 150px;
}

/* Footer */

.site-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  color: var(--color-glanect-dark-blue);
}

.site-branding {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.site-branding__title {
  padding-bottom: 12px;
}

.site-branding__copyright {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
