/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100%;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  background-color: #0b0633;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --site-gutter-vertical: 40px;
  --site-gutter: 24px;
  --color-glanect-white: #ffffff;
  --color-glanect-dark-blue: #0b0633;
  --color-glanect-orange: #ff4949;
  --color-glanect-mid-blue: #312d53;
  --header-logo-height: 31px;
  --font-title: 'Merriweather', serif;
  --content-padding-bottom: 2.5rem;
}

html,
body {
  background-color: var(--color-glanect-dark-blue);
}

html {
  font-size: clamp(87.5%, 1.75vw, 16px);
}

.screen-reader-text {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.wide-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding-left: var(--site-gutter);
  padding-right: var(--site-gutter);
}

.wide-content-wrapper--align-right {
  justify-content: flex-end;
}

/* Header */

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: var(--site-gutter-vertical);
  justify-content: center;
}

.site-header__content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.site-logo {
  flex: 1;
}

.site-logo__text {
  fill: var(--color-glanect-white);
}

.site-logo__icon {
  fill: var(--color-glanect-white);
}

.site-nav {
  color: var(--color-glanect-white);
  font-family: var(--font-title);
  font-size: 0.938rem;
  /*font-size: clamp(12px, 2vw, 15px);*/
}

.site-nav__option-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.site-nav__option-link {
  padding: 0 1.25rem;
  color: var(--color-glanect-white);
  text-decoration: none;
}

.site-nav__option-item:last-child .site-nav__option-link {
  padding-right: 0;
}

/* Main content */

.site-container {
  width: 100%;
  max-width: calc(775px + var(--site-gutter) * 2);
  margin: 0 auto;
  padding: 0 var(--site-gutter);
  line-height: 1.875rem;
}

.site-section {
  position: relative;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.site-section--reduced-padding {
  padding-top: 30px;
  padding-bottom: var(--site-gutter-vertical);
}

.site-section__background {
  --angle-offset: max(60px, 10vw);
  position: absolute;
  bottom: -5vw; /*-7.5%;*/
  left: 50%;
  width: max(100vw, 600px);
  height: calc(100% + 5vw); /*107.5%;*/
  transform: translateX(-50%);
}

.site-section__background--top-up-bottom-down {
  top: -5vw;
  height: calc(100% + 10vw);
  clip-path: polygon(
    0 var(--angle-offset),
    100% 0,
    100% 100%,
    0 calc(100% - var(--angle-offset))
  );
}

.site-section__background--bottom-down {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - var(--angle-offset))
  );
}

.site-section__background--top-up {
  top: -5vw;
  clip-path: polygon(0 var(--angle-offset), 100% 0, 100% 100%, 0 100%);
}

.site-section__background--orange {
  background-color: var(--color-glanect-orange);
}

.site-section__background--mid-blue {
  background-color: var(--color-glanect-mid-blue);
}

.site-section__background--white {
  background-color: var(--color-glanect-white);
}

.site-section__content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: var(--site-gutter);
}

.site-section__title {
  grid-column: 2 / 10;
  padding-bottom: var(--content-padding-bottom);
  color: var(--color-glanect-white);
  font-family: var(--font-title);
  font-size: 2.1875rem;
  line-height: 2.8125rem;
  text-align: center;
}

.site-section__intro {
  grid-column: 2 / 10;
  padding-bottom: 3.75rem;
}

.site-section__body-copy {
  grid-column: 2 / 10;
  padding-bottom: var(--content-padding-bottom);
}

.site-section__body-copy strong {
  color: var(--color-glanect-orange);
}

.site-section__captioned-image {
  grid-column: 1 / 11;
  padding-bottom: var(--content-padding-bottom);
}

.site-section__image {
  position: relative;
  z-index: 2;
}

.site-section__caption {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.site-section__caption-background {
  position: absolute;
  top: -10px;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: rotate(-0.5deg);
  background-color: var(--color-glanect-dark-blue);
}

.site-section__caption-copy {
  position: relative;
  display: block;
  padding: 8px 10px 12px 10px;
}

/* Site intro */

.section-intro {
  position: relative;
  display: flex;
  width: 100%;
  height: clamp(300px, 50vw, 500px);
  padding-top: calc(
    var(--site-gutter-vertical) + var(--site-gutter) + var(--header-logo-height)
  );
  padding-bottom: calc(var(--site-gutter) * 2 + var(--header-logo-height));
  box-sizing: border-box;
}

.section-intro__content-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-intro__title {
  font-family: var(--font-title);
  font-size: 2.1875rem;
  line-height: 3.125rem;
  text-align: center;
}

/* Our services */

.section-services {
  padding-bottom: calc(var(--site-gutter) * 2 + var(--header-logo-height));
}

.service-item {
  display: grid;
  grid-column: 2 / 10;
  grid-template-columns: repeat(8, 1fr);
  column-gap: var(--site-gutter);
  padding-bottom: var(--content-padding-bottom);
}

.service-item__copy-wrapper {
  grid-column: 3 / 9;
}

.service-item__title {
  padding-bottom: 3px;
  color: var(--color-glanect-orange);
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.service-item__image-wrapper {
  display: flex;
  grid-column: 1 / 3;
  justify-content: center;
  align-items: center;
}

/* Contact */

.contact-intro {
  grid-column: 1 / 6;
  margin-top: -0.5rem;
  padding-bottom: var(--content-padding-bottom);
}

.contact-form {
  grid-column: 6 / 11;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-bottom: var(--content-padding-bottom);
}

.contact-form__fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.contact-form__field-wrapper {
  position: relative;
  padding-bottom: 10px;
  font-size: 1rem;
  line-height: 1.5625rem;
}

.contact-form__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  transform: translate(-13.5%, -14px) scale(0.7);
  opacity: 0.5;
  transition: transform 0.1s ease-out;
}

.contact-form__detail {
  width: 100%;
  padding: 22px 16px 10px 16px;
  outline: 0;
  color: var(--color-glanect-white);
  border: 0;
  background-color: var(--color-glanect-mid-blue);
}

.contact-form__message:placeholder-shown:not(:focus),
.contact-form__detail:placeholder-shown:not(:focus) {
  padding: 16px;
}

.contact-form__message:placeholder-shown:not(:focus) + .contact-form__label,
.contact-form__detail:placeholder-shown:not(:focus) + .contact-form__label {
  transform: none;
  opacity: 1;
}

.contact-form__message {
  width: 100%;
  height: 184px;
  padding: 22px 16px 10px 16px;
  outline: 0;
  resize: none;
  color: var(--color-glanect-white);
  border: 0;
  background-color: var(--color-glanect-mid-blue);
}

.contact-form__button {
  width: 150px;
  font-family: var(--font-title);
  font-size: 15px;
  line-height: 40px;
  cursor: pointer;
  border: 0;
  color: var(--color-glanect-white);
  background: var(--color-glanect-orange);
}

/* Footer */

.site-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  color: var(--color-glanect-dark-blue);
}

.site-branding {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.site-branding__title {
  padding-bottom: 12px;
}

.site-branding__copyright {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
